body {
  background-image: url("https://img.sunset02.com/sites/default/files/styles/4_3_horizontal_inbody_900x506/public/image/2016/08/main/cave-creek-spur-cross-stable.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

ul {list-style-type: none;
}

li {float: left;
    padding-left: 130px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: grey;
  background: rgba(255, 255, 255, 0.3)
}

li a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
